<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">
    {{ $cssURL :=
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css" }} {{
    if eq .Mode "dark" }} {{ $cssURL =
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-dark.min.css"
    }} {{ else if eq .Mode "light" }} {{ $cssURL =
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-light.min.css"
    }}{{ end }}
    <link rel="stylesheet" href="{{ $cssURL }}" />
    <style>
      {{ if eq .Mode "dark" }}
      body {
          background-color: #0d1117;
          color: #c9d1d9;
        }
      {{ else if eq .Mode "light" }}
      {{ else }}
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #0d1117;
          color: #c9d1d9;
        }
      }
      {{ end }}
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 920px;
        margin: 0 auto;
        padding: 45px;
      }
      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ['$', '$'],
            ['\\(', '\\)'],
          ],
          displayMath: [
            ['$$', '$$'],
            ['\\[', '\\]'],
          ],
        },
      }
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"
    ></script>
    <script type="text/javascript">
      function loadmd() {

        $.ajax({
          url: "/__/md?path=" + window.location.pathname.slice(1),
          success: function (result) {
            $("#markdown-body").html(result).promise().done(function(){
              var count = $("#markdown-body a").length;
              $("#markdown-body a").each(function(i){
              var a = $(this);
              if (a.attr("id") != undefined ) {
                var id = a.attr("id").replace("user-content-", "");
                a.attr("id", id);
              }
              if (i+1 === count) {
                if(location.hash) {
                  var url = location.href;
                  location.href = location.hash;
                  history.replaceState(null,null,url);
                }
              }
              MathJax.typeset();

              if (navigator.clipboard) {
                const clipboardSvg = `<svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0475 0.905273H1.67197C0.812542 0.905273 0.109375 1.60844 0.109375 2.46787V13.406H1.67197V2.46787H11.0475V0.905273ZM13.3914 4.03046H4.79716C3.93773 4.03046 3.23456 4.73363 3.23456 5.59306V16.5312C3.23456 17.3906 3.93773 18.0938 4.79716 18.0938H13.3914C14.2509 18.0938 14.954 17.3906 14.954 16.5312V5.59306C14.954 4.73363 14.2509 4.03046 13.3914 4.03046ZM13.3914 16.5312H4.79716V5.59306H13.3914V16.5312Z" fill="currentColor"></path></svg>`;
                const clipboardCheckedSvg = `<svg width="15" height="19" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 3.33333H3.33333V5H5V3.33333ZM5 6.66667H3.33333V8.33333H5V6.66667ZM5 0C4.075 0 3.33333 0.75 3.33333 1.66667H5V0ZM8.33333 10H6.66667V11.6667H8.33333V10ZM13.3333 0V1.66667H15C15 0.75 14.25 0 13.3333 0ZM8.33333 0H6.66667V1.66667H8.33333V0ZM5 11.6667V10H3.33333C3.33333 10.9167 4.075 11.6667 5 11.6667ZM13.3333 8.33333H15V6.66667H13.3333V8.33333ZM13.3333 5H15V3.33333H13.3333V5ZM13.3333 11.6667C14.25 11.6667 15 10.9167 15 10H13.3333V11.6667ZM1.66667 3.33333H0V13.3333C0 14.25 0.741667 15 1.66667 15H11.6667V13.3333H1.66667V3.33333ZM10 1.66667H11.6667V0H10V1.66667ZM10 11.6667H11.6667V10H10V11.6667Z" fill="currentColor"></path></svg>`;

                const allPre = document.querySelectorAll('pre:not(:has(+ button))');

                allPre.forEach((pre) => {
                  const div = document.createElement('div');
                  div.style = 'position: relative;';
                  pre.parentNode.insertBefore(div, pre);
                  div.appendChild(pre);

                  const button = document.createElement('button');
                  button.innerHTML = clipboardSvg;
                  button.style = 'position: absolute; top: 10px; right: 10px; background: none; border: none; cursor: pointer; outline: none;';
                  button.addEventListener('click', async () => {
                    const codeContent = pre.querySelector('code').innerText;
                    await navigator.clipboard.writeText(codeContent);

                    button.innerHTML = clipboardCheckedSvg;

                    setTimeout(() => {
                      button.innerHTML = clipboardSvg;
                    }, 2000);
                  });
                  div.appendChild(button);
                });
              }

            })
          })}
        })
      };
      (function () {
        var reload = false
        {{if .Reload}} reload = true {{end}}
        if (reload) {
          var conn = new WebSocket("ws://{{.Host}}/ws")
          conn.onopen = function () {
              conn.send('Ping');
          };
          conn.onerror = function (e) {
            console.log("Connection error " + e);
          };
          conn.onclose = function (e) {
            console.log("Connection closed " + e)
          }
          conn.onmessage = function (e) {
            if (e.data === "reload") {
              console.log("reload page!");
              loadmd();
            }
          }
        }
        loadmd();
      })()
    </script>
    <article id="markdown-body" class="markdown-body"></article>
  </body>
</html>
